table {
    border-spacing: 0;
    border: 1px solid black;
}

th, td {
    text-align: left;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    
}

tr {
    transition: all .06s;

    &:hover {
        background-color: $white;
    }
}

a.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
}

a.block {
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

select {
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    padding: 0.25em 0.5em;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;

    &:focus {
        outline: none;
    }
}

#qrCode {
    display: flex;
    justify-content: center;
}


