@using Microsoft.AspNetCore.Identity
@using BugTracker.Data;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}

   <button type="button" class="nav__link dropdown__title" aria-expanded="false" aria-controls="user-dropdown"> 
       @((await UserManager.GetUserAsync(User)).FirstName)  @((await UserManager.GetUserAsync(User)).LastName)
   </button>

<ul class="dropdown__menu" id="user-dropdown">
    <li class="nav__item">
        <a  class="nav__link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profile</a>
    </li>
    @if (user.GroupName.Length > 32)
    {
    <li class="nav__item">
        <a class="nav__link"
        asp-action="SwitchUser"
        asp-controller="DemoUser"
        asp-route-groupName=@user.GroupName
        asp-route-userToSwitchTo="Developer"
        >
        Switch to Developer
        </a>
    </li>
    <li class="nav__item">
        <a class="nav__link"
        asp-action="SwitchUser"
        asp-controller="DemoUser"
        asp-route-groupName=@user.GroupName
        asp-route-userToSwitchTo="Submitter">
        Switch to Submitter
        </a>
    </li>
    <li class=nav__item>
        <a class="nav__link"
        asp-action="SwitchUser"
        asp-controller="DemoUser"
        asp-route-groupName=@user.GroupName
        asp-route-userToSwitchTo="Admin">
        Switch to Admin
        </a>
    </li>    
    }
    <li class="nav__item">
        @if (user.GroupName.Length > 32)
        {
        <a class="nav__link"
        asp-action="EndDemo"
        asp-controller="DemoUser"
        asp-route-groupName=@user.GroupName>
        End Demo
        </a>
        } else
          {
          <a class="nav__link" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Logout</a>
           
          }
    </li>
</ul>
