@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<section class="my-account">
    <header class="my-account__header">
        <h1>Manage your account</h1>
        <h2>Change your account settings</h2>
    </header>
    <div class="my-account__body">
        <div class="my-account__options">
            <partial name="_ManageNav" />
        </div>
        <div class="my-account__content">
            @RenderBody()
        </div>
    </div>
</section>
    

@section Scripts {
    @RenderSection("Scripts", required: false)
}
