@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

    <h3>@ViewData["Title"]</h3>
    <partial name="_StatusMessage" for="StatusMessage" />
        <form id="change-password-form" class="form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form__group--center">
                <label asp-for="Input.OldPassword" class="form__label"></label>
                <input asp-for="Input.OldPassword" class="form__input" autocomplete="current-password" aria-required="true"/>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form__group--center">
                <label asp-for="Input.NewPassword" class="form__label"></label>
                <input asp-for="Input.NewPassword" class="form__input" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form__group--center">
                <label asp-for="Input.ConfirmPassword" class="form__label"></label>
                <input asp-for="Input.ConfirmPassword" class="form__input" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="form__btn form__btn--center">Update password</button>
        </form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
