.manage-projects {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: minmax(auto, 50%) minmax(auto, 50%);
    grid-auto-rows: min-content;
    column-gap: 3rem;
}

.checklist {
    display: flex;
    flex-wrap: wrap;

    &__item {

        &:not(:last-child) {
            margin-right: 1rem;
        }
    }
}
