//Discussion of styling inputs with type "file" at: https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    
}

.inputfile + label {
    color: $white;
    background-color: $color-primary-dark;
    padding: 0.8rem 2rem;
    display: inline-block;
    width: max-content;
    cursor: pointer;
    transition: all .3s ease-out;
    font-size: 1.6rem;
    box-shadow: 0 5px 15px rgba(black, 0.1);
}

.inputfile + label:hover {
    transform: translateY(-.15rem);
}

.inputfile + label:active {
    transform: translateY(0);
    box-shadow: 0 3px 15px rgba(black, 0.1);
}

.inputfile:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}