
.nav {
    padding: 1.5rem 2.5rem;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    background-color: $bg-dark;

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__list--left {
        display: flex;
        margin-right: auto;

        & :not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__list--right {
        display: flex;

        & :not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__item {
    }

    &__item--vertical {
        margin-top: 1rem;
    }

    &__link {
        color: $white;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 1px;
        transition: all .1s;
        cursor: pointer;

        &:hover {
            color: $color-primary-light;
        }

        &--vertical {
            display: block;
            padding: 1.8rem 1rem;

            &.active {
                background-color: $color-primary-dark;
            }

            &:hover {
                color: $white;
                background-color: $color-primary-dark;
            }
        }
    }
}

.form-inline .logout-button {
    background: none;
    border: none;
    font-family: "Fredoka", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    margin-right: 0;
    
}
