*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: #cbf3f0;
  font-size: 1.6rem; }

a {
  text-decoration: none; }

.main {
  display: grid;
  grid-template-columns: [full-start] 8rem [center-start] repeat(8, [col-start] 1fr [col-end]) [center-end] 8rem [full-end];
  height: 80vh; }

#navigation {
  background-color: #2ec4b6; }

.nav {
  padding: 1.5rem 2.5rem;
  position: sticky;
  top: 0;
  display: flex; }
  .nav__list {
    list-style: none;
    display: flex;
    margin-right: auto; }
    .nav__list :not(:last-child) {
      margin-right: 1.5rem; }
  .nav__list--right {
    display: flex;
    list-style: none; }
    .nav__list--right :not(:last-child) {
      margin-right: 1.5rem; }
  .nav__link {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    transition: color .2s; }
    .nav__link:hover {
      color: #ffbf69; }

.form-inline .logout-button {
  background: none;
  border: none;
  font-family: "Fredoka", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  margin-right: 0; }

.authenticate {
  text-align: center;
  grid-column: col-start 2 / col-end 7;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .authenticate__list {
    list-style: none;
    display: flex; }
  .authenticate__item {
    width: 50%;
    background-color: #ffffff; }
  .authenticate__link {
    color: black;
    display: inline-block;
    width: 100%;
    padding: 1.5rem 0;
    transition: all .15s; }
  .authenticate__body {
    background-color: #ffbf69; }

.active {
  background: linear-gradient(to bottom, #ffbf69, 88%, #ffb754);
  color: #ffffff; }

.form__group {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column; }

.form__group--center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  width: min-content; }

.form__input {
  border: none;
  padding: 1rem 1.5rem;
  width: 35rem;
  transition: all .2s ease-out;
  font-family: "Fredoka", sans-serif;
  display: block; }
  .form__input::placeholder {
    color: black;
    font-family: "Fredoka", sans-serif; }
  .form__input:focus {
    outline: none;
    transform: scale(1.022);
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.2); }

.form__label {
  line-height: 1;
  align-self: flex-start;
  margin-bottom: 1.15rem; }

.form__radio-group {
  display: flex;
  justify-content: center;
  padding: 0.8rem 0; }

.form__radio-label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; }

.form__radio-input {
  display: none; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #ffffff;
  border-radius: 50%;
  margin-right: 1.2rem;
  position: relative; }
  .form__radio-button::after {
    content: "";
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity .2s; }

.form__radio-input:checked + .form__radio-button::after {
  opacity: 1; }

.form__btn {
  display: block;
  width: 30%;
  padding: 1.1rem 0;
  border: none;
  background-color: #ff9f1c;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all .3s ease-out;
  font-family: inherit;
  font-size: 1.6rem; }
  .form__btn:hover {
    transform: translateY(-0.15rem); }
  .form__btn:active {
    transform: translateY(0);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1); }
  .form__btn--center {
    margin: 2rem auto; }

.form__link, .form:link, .form:visited {
  color: black;
  transition: color .1s; }
  .form__link:hover, .form:link:hover, .form:visited:hover {
    color: white; }

.section-demo {
  grid-column: center-start / center-end;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  flex-direction: column; }

.demo {
  padding: 2.5rem 2.5rem;
  display: inline-block; }
  .demo__header {
    font-size: 5rem; }
  .demo__login-type {
    margin-bottom: 2rem; }
  .demo__button {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    padding: 1.5rem 1.5rem;
    transition: all .1s;
    border: 2px solid transparent; }
    .demo__button:hover {
      border: 2px solid white; }
  .demo__svg {
    background: #ffbf69;
    width: 20rem;
    height: 20rem;
    mask-size: 20rem 20rem;
    -webkit-mask-size: 20rem 20rem;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat; }
  .demo__svg--1 {
    mask-image: url("../css/administrator-developer.svg");
    -webkit-mask-image: url("../css/administrator-developer.svg"); }
  .demo__svg--2 {
    mask-image: url("../css/search-user.svg");
    -webkit-mask-image: url("../css/search-user.svg"); }
  .demo__svg--3 {
    mask-image: url("../css/software-engineer.svg");
    -webkit-mask-image: url("../css/software-engineer.svg"); }

.section-roles {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: minmax(auto, 50%) minmax(auto, 50%);
  grid-auto-rows: min-content;
  column-gap: 3rem; }

select {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  padding: 0.25em 0.5em;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit; }
  select:focus {
    outline: none; }

.select-multiple {
  background-color: #ffffff;
  width: 40%;
  display: block; }

.select-dropdown {
  width: 40%;
  border: 1px solid black;
  cursor: pointer;
  line-height: inherit;
  background-color: #ffffff;
  position: relative; }
  .select-dropdown__arrow {
    width: 0.8em;
    height: 0.5em;
    background-color: #ffbf69;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    position: absolute;
    right: 0;
    top: 50%;
    margin-right: 0.8em;
    transform: translateY(-50%); }

table {
  border-spacing: 0;
  border: 1px solid black; }

th, td {
  text-align: left;
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

tr {
  transition: all .06s; }
  tr:hover {
    background-color: #ffffff; }

a.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.5; }

a.block {
  display: block; }

.card {
  background-color: #ffbf69;
  box-shadow: 0 7px 15px 0px rgba(0, 0, 0, 0.1);
  margin-top: 5rem;
  height: min-content; }
  .card__header {
    background-color: #ff9f1c;
    color: #ffffff;
    padding: 1rem 3rem; }
  .card__body {
    padding: 2rem 3rem 3rem 3rem; }
  .card__group-container {
    font-size: 0; }
  .card__group {
    width: 50%;
    margin-bottom: 1.3rem;
    display: inline-block;
    font-size: 1.6rem; }
    .card__group-title {
      font-weight: 600; }

.mb-small {
  margin-bottom: 2rem; }

.mr-small {
  margin-right: 1.2rem; }

.manage-projects {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: minmax(auto, 50%) minmax(auto, 50%);
  grid-auto-rows: min-content;
  column-gap: 3rem; }

.checklist {
  display: flex;
  flex-wrap: wrap; }
  .checklist__item:not(:last-child) {
    margin-right: 1rem; }

.my-projects {
  grid-column: center-start / center-end; }

.project {
  padding: 0.5rem 0.5rem;
  margin: 2rem 0;
  font-size: 0;
  background: linear-gradient(to bottom, #ff9f1c, #ffbf69); }
  .project__container {
    background-color: #ffbf69;
    padding: 2rem 1.5rem; }

.my-tickets {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem; }

.single-ticket {
  grid-column: center-start / center-end; }

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.inputfile + label {
  color: #ffffff;
  background-color: #ff9f1c;
  padding: 0.75rem 1.3rem;
  display: inline-block;
  width: max-content;
  cursor: pointer;
  transition: all .3s ease-out;
  font-size: 1.45rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); }

.inputfile + label:hover {
  transform: translateY(-0.15rem); }

.inputfile + label:active {
  transform: translateY(0);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1); }

.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px; }
