.text-page-centered {
    text-align: center;
    grid-column: center-start / center-end;
    margin-top: 3rem;
}

.page-centered {
    text-align: center;
    grid-column: center-start / center-end;
}
