.authenticate {
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 90rem;
    margin: 5vh auto 0 auto;
    

    &__list {
        list-style: none;
        display: flex;
    }

    &__item {
        width: 50%;
        background-color: $white;
    }

    &__link {
        color: black;
        display: inline-block;
        width: 100%;
        padding: 1.5rem 0;
        transition: all .15s;
        
    }

    &__body {
        background-color: $color-primary-light;
    }
}

.authenticate__list .active {
    background: linear-gradient(to bottom, $color-primary-light, 88%, lighten($color-primary-dark, 11%));
    color: $white;
}
