.add-users {
    grid-column: span 4;
    padding: $card-padding;
}

.create-project {
    grid-column: span 4;
    padding: $card-padding;
}

.checklist {
    display: flex;
    flex-wrap: wrap;

    &__item {

        &:not(:last-child) {
            margin-right: 1rem;
        }
    }
}
