.add-to-role {
    grid-column: span 3;
    padding: $card-padding;
}

.find-user {
    grid-column: span 4;
    padding: $card-padding;
}

.create-role {
    grid-column: span 3;
    padding: $card-padding;
}

table {
    table-layout: fixed;
    width: 100%;

    td {
        word-wrap: break-word;
    }

}

.table {

    &__name {
        width: 33.333333%;
    }

    &__email {
        width: 66.666666%;
    }

    &__role {
        width: 33.333333%;
    }
}

