.my-account {
    grid-column: center-start / center-end;
    text-align: center;
    margin-top: 3rem;

    &__header {
        background-color: $color-primary-dark;
        padding: 1.5rem 0;
        color: $white;
    }

    &__body {
        display: flex;
        background-color: $color-primary-light;
    }

    &__options {
        width: 20%;
        padding-bottom: 1rem;
    }

    &__content {
        width: 80%;
        padding: 3rem 4rem;
    }
}
