@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}
<section class="access-denied">
    <header>
        <h1 class="">@ViewData["Title"]</h1>
        <p class="">You do not have access to this resource.</p>
    </header>
</section>

