@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}
<div class="text-page-centered">
    <header>
        <h1>@ViewData["Title"]</h1>
    </header>
    <p>You do not have access to this resource.</p>
</div>

