@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="text-page-centered">
    <header>
        <h1>@ViewData["Title"]</h1>
    </header>
    <p>
        Please check your email to reset your password.
    </p>
</div>
