@page
@model LoginWith2faModel
@{
    ViewData["Title"] = "Two-factor authentication";
}

<div class="padding-container">
<section class="twoFA-login">

    <div class="card">
        <header class="card__header">
            <h1>@ViewData["Title"]</h1>
        </header>
    
        <div class="card__body">
            <p>Your login is protected with an authenticator app. Enter your authenticator code below.</p>

            <form method="post" class="form" asp-route-returnUrl="@Model.ReturnUrl">
                <input asp-for="RememberMe" type="hidden" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form__group form__group--center">
                    <label asp-for="Input.TwoFactorCode" class="form__label"></label>
                    <input asp-for="Input.TwoFactorCode" class="form__input" autocomplete="off" />
                    <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
                </div>
                
                <div class="form__radio-group">
                    <label asp-for="Input.RememberMachine" class="form__radio-label">
                        <input asp-for="Input.RememberMachine" class="form__radio-input" />
                        <span class="form__radio-button"></span>
                        @Html.DisplayNameFor(m => m.Input.RememberMachine)
                    </label>
                </div>
                
                <button type="submit" class="form__btn form__btn--center">Log in</button>
            </form>
    
            <p>
                Don't have access to your authenticator device? You can
                <a id="recovery-code-login" class="form__link" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">log in with a recovery code</a>.
            </p>
        </div>
    </div>
</section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}