@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

<div class="padding-container">
<div class="page-centered card">
    <header class="card__header">
        <h1>@ViewData["Title"]</h1>
        <h2>Enter your email.</h2>
    </header>
    <form class="form card__body" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form__group--center">
            <label asp-for="Input.Email" class="form__label"></label>
            <input asp-for="Input.Email" class="form__input" aria-required="true" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <button type="submit" class="form__btn form__btn--center">Resend</button>
    </form>
</div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
